*, *:after {
	box-sizing: border-box;	
}

html{
}
body{
	margin: 0;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #000;
}
hgroup h1{
	background: -webkit-linear-gradient(gold, purple);
  	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
	font-style: fantasy;
	font-variant: small-caps;
	text-align: center;
	font-size: 60px;
	border: solid 3px red;
	top: 0;
	margin-top: 0;
	margin-bottom: 0;
}
nav ul{
	list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: purple;
    margin-top: 0;
	font-style: Fantasy;
}
nav ul li{
	float: left;
	border-right: solid 1px;
	padding-left: 20px;
	padding-right: 20px;
}
nav ul li a{
	display: block;
	color: darkorange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
nav ul li:hover{
	background-color: darkgreen;
}
input[type=text]{
	float: right;
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin: 10px;
    margin-top: 15px;
    border: solid 3px limegreen;
}
input[type=text]:focus{
    width: 100%;
    margin: 0px;
}
#shiningmoon{
	position: fixed;
}
.Logo{
	text-align: center;
	width: 200px;
	height: 56px;
	background-color: red;
	border: 3px solid #000;
	transition: all 2s;
	font-size: 50px;
	border-radius: 10px;
}
.Logo:hover{
	color: white;
	background-color: royalblue;
}
.MorningStar{
	height: 300px;
	width: 303.5px;
	margin-top: 10px;
	background-color: #3f3f3f;
	padding: 0 0 0 0;
	border: solid 5px #ff6100;
	border-radius: 10px;
	color: white;
	float: left;
}
#pictures{
	padding: 0px
	border: solid 3px darkblue;
}
aside{
	color: white;
	float: right;
	width: 90px;
	border: solid 3px #ff6100;
	border-radius: 4px;
	background-color: #3f3f3f;
	height: 800px;
}
.someshit{
	height: 20px;
	border-bottom: solid 3px #ff6100;
	text-align: center;
}
#wrapper{

}
.Morningstarpage2{
	background-color: darkblue;
	border: solid 3px red;
	border-radius: 10px;
	color: white;
	margin-right: 25%;
	margin-left: 25%;

}
.introductie{
	background-color: yellow;
	border: solid 3px green;
	border-radius: 10px;
	width: 500px;
	font-weight: bold;
	margin-left: 500px;
	transition: 2s;
	font-size: 20px;
	margin-top: 150px;
}
.introductie:hover{
	transform: rotate(720deg);
}
#htmlpicture{
	width: 700px;
	padding: 20px;
	border: solid 2px red;
	border-radius: 10px;
	margin-left: 500px;
	margin-bottom: 10px;
}

#htmlpicture img {
	max-width: 100%;
	transition: 2s;
}
#htmlpicture img:hover{
	transform: scale(1.06);
}
#dailycartoonvideo iframe{
	width: 100%;
}
#htmlpicture2{
	width: 700px;
	padding: 20px;
	border: solid 2px purple;
	border-radius: 10px;
	margin-left: 500px;
	margin-bottom: 10px;
}
#htmlpicture2 img {
	max-width: 100%;
	transition: 2s;
}
#htmlpicture2 img:hover{
	transform: scale(1.06);
}
#pythonpicture{
	width: 700px;
	padding: 20px;
	border: solid 2px blue;
	border-radius: 10px;
	margin-left: 500px;
}
#pythonpicture img {
	max-width: 100%;
	transition: 2s;
}
#pythonpicture img:hover{
	transform: scale(1.06);
}
.naming{
	float: right;
	margin-top: 400px;
	font-style: fantasy;
	background: -webkit-linear-gradient(#00E88F, #BB00FF);
  	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
 	border: solid 2px hotpink;
 	border-radius: 10px;
}
.naming2{
	position: absolute;
	right: 0;
	margin-top: 1500px;
	font-style: fantasy;
	background: -webkit-linear-gradient(#00E88F, #BB00FF);
  	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
 	border: solid 2px yellow;
 	border-radius: 10px;
}
.OverMij{
	background-color: purple;
	color: orange;
	border: solid 3px red;
	border-radius: 10px;
	margin-left: 50%;
}
#title h4{
	border-bottom: solid 3px red;
	margin: 0px;
}
.profilephoto{
	border: solid 2px green;
	margin-left: 25%;
	margin-right: 51%;
	border-radius: 10px;

}
.contactinfo{
	margin-left: 25%;
	margin-right: 25%;
	border: solid 2px royalblue;
	border-radius: 10px;
	background-color: #FF00FF
}
.contactinfo img{
	width: 100%;
	border-radius: 10px;
}